body {
    font-family:cursive;
    background-image:linear-gradient(rgb(255, 232, 201),rgb(253, 205, 93)) ;
}
.hannah{
    color: rgb(192, 86, 121);
    font-size:40px ;
    background-image:linear-gradient(rgb(255, 226, 235),pink,white );
    border-radius: 30px;
}
.link{
    color: rgb(146, 88, 180);
    font-size:30px ;
 
}
.link-pu{
    color: rgb(59, 99, 172);
    font-size:30px ;
   
}
nav {
    justify-content: space-around;
    display: flex;
    background-image:linear-gradient(aliceblue,rgb(245, 206, 245)) ;
    font-family: time;
}
.popo{
    color: rgb(180, 61, 119);
    font-size: 100px;
    font-family: Garamond;
    background-color: rgb(255, 255, 178);
    border: 10px dotted rgb(249, 249, 146);
    border-radius: 30px;
    opacity: 0;
}

.pic{
    float: right;
    width: 300px;
    height: 350px;
}
li{
    color: rgb(179, 65, 65);
    font-size: 50px;
}
ul{
    list-style: url("https://learn.logika.asia/uploads/student/4790082/68d7d18137c1e.png");
}
.popo:hover{
    transform: translateY(50px);
    transition: 3s linear;
    opacity: 1;
    
}
.yummy{
    background-color: antiquewhite;
    border: 30px double sandybrown;
    border-radius: 70px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    
}
.yummy::before{
    content:url("https://learn.logika.asia/uploads/student/4790082/68ea454255e14.png") ;
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 40px;
    opacity: 0.3;
}
.yummy:hover::before{
    opacity: 1;
    transform: scale(2);
    transition: 6s linear;
}
